html {
  position:fixed;   height: 100%;
    width: 100%;}

body {
  -webkit-tap-highlight-color: transparent; }

#horni {
  position:relative; }

#android_menu {
  position:fixed; z-index:999; top:5px; right:5px; font-size:22px; z-index:999; }
#appl {
  right:46px; }

* {
 -webkit-user-select: none; }

/* úpravy browse */

div.BrowseHandleMi { min-height:25px }

/* úpravy tlačítek */


button, textarea,
input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=search] {
  -webkit-border-radius: 1px;
  padding: 1px 0px; margin: 0px;
}

button {
  padding: 1px 4px; background:url(./img/button_enabled.png) repeat-x; -webkit-border-radius: 8px; }

.BrowseSmart td {
  height:16px; }

input[type=text], input[type=password] {
  -webkit-user-select: initial; }

button.fa {
  -webkit-appearance: none; -webkit-border-radius: 1px !important;}
