* text=auto !eol
/$.ezer -text
client/android.css -text
client/app.js -text
client/appf.css -text
client/area.js -text
client/dbg.css -text
client/dbg.js -text
client/dbgf.html -text
client/ezer.css -text
client/ezer.css.php -text
client/ezer.js -text
client/ezer_fdom1.js -text
client/ezer_fdom2.js -text
client/ezer_report.js -text
client/img/$logo.gif -text
client/img/browse_resize.png -text
client/img/button_disabled.png -text
client/img/button_enabled.png -text
client/img/class.png -text
client/img/dbg.ico -text
client/img/doc_form.gif -text
client/img/doc_menu.gif -text
client/img/doc_module.gif -text
client/img/field_list.gif -text
client/img/foot_bg.png -text
client/img/function.png -text
client/img/method.png -text
client/img/mootree.gif -text
client/img/mootree_white.gif -text
client/img/select.gif -text
client/img/select_auto.gif -text
client/img/srafa.png -text
client/img/submenu_bg.png -text
client/img/tab_top.png -text
client/img/tree.png -text
client/ipad.css -text
client/lib.js -text
client/licensed/Mdrag.js -text
client/licensed/Mslider.js -text
client/licensed/clientcide.js -text
client/licensed/clipboard.min.js -text
client/licensed/datepicker.js -text
client/licensed/datepicker/datepicker_vista/buttons.png -text
client/licensed/datepicker/datepicker_vista/datepicker_vista.css -text
client/licensed/datepicker/datepicker_vista/days.png -text
client/licensed/datepicker/datepicker_vista/frame.png -text
client/licensed/datepicker/datepicker_vista/months.png -text
client/licensed/datepicker/datepicker_vista/years.png -text
client/licensed/font-awesome/css/font-awesome.min.css -text
client/licensed/font-awesome/fonts/fontawesome-webfont.ttf -text
client/licensed/font-awesome/fonts/fontawesome-webfont.woff -text
client/licensed/font-awesome/fonts/fontawesome-webfont.woff2 -text
client/licensed/glfx.js -text
client/licensed/hammer.js -text
client/licensed/jush/mini_jush.css -text
client/licensed/jush/mini_jush.js -text
client/licensed/mootree.js -text
client/licensed/zeroclipboard/ZeroClipboard.as -text
client/licensed/zeroclipboard/ZeroClipboard.fla -text
client/licensed/zeroclipboard/ZeroClipboard.js -text
client/licensed/zeroclipboard/ZeroClipboard.swf -text
client/natdocs.css -text
client/report.css.css -text
client/skins/default/$logo.gif -text
client/skins/default/ajax_wait.gif -text
client/skins/default/big_text.css -text
client/skins/default/big_text2.css -text
client/skins/default/body_bg.png -text
client/skins/default/browse_handle.png -text
client/skins/default/browse_handle_act.png -text
client/skins/default/browse_handle_act_dn.png -text
client/skins/default/browse_handle_act_mi.png -text
client/skins/default/browse_handle_act_up.png -text
client/skins/default/browse_handle_dn.png -text
client/skins/default/browse_handle_mi.png -text
client/skins/default/browse_handle_up.png -text
client/skins/default/browse_header.png -text
client/skins/default/browse_mark2.gif -text
client/skins/default/browse_mark_hover2.gif -text
client/skins/default/browse_pgdn.png -text
client/skins/default/browse_pgdn0.png -text
client/skins/default/browse_pgdn_act.png -text
client/skins/default/browse_pgup.png -text
client/skins/default/browse_pgup0.png -text
client/skins/default/browse_pgup_act.png -text
client/skins/default/browse_reload.pdn -text
client/skins/default/browse_reload.png -text
client/skins/default/browse_resize.png -text
client/skins/default/browse_row2.gif -text
client/skins/default/browse_set.png -text
client/skins/default/browse_sort_hover.png -text
client/skins/default/class.png -text
client/skins/default/clientcide/calendar.gif -text
client/skins/default/clientcide/left_fold.png -text
client/skins/default/clientcide/left_unfold.png -text
client/skins/default/clientcide/stickyWinHTML/big_button.gif -text
client/skins/default/clientcide/stickyWinHTML/big_button_over.gif -text
client/skins/default/clientcide/stickyWinHTML/body.gif -text
client/skins/default/clientcide/stickyWinHTML/body.png -text
client/skins/default/clientcide/stickyWinHTML/closebtn.gif -text
client/skins/default/clientcide/stickyWinHTML/drag_corner.gif -text
client/skins/default/clientcide/stickyWinHTML/full.gif -text
client/skins/default/clientcide/stickyWinHTML/full.png -text
client/skins/default/clientcide/stickyWinHTML/icon_problems_sm.gif -text
client/skins/default/dbg.ico -text
client/skins/default/doc_form.gif -text
client/skins/default/doc_menu.gif -text
client/skins/default/doc_module.gif -text
client/skins/default/field_list.gif -text
client/skins/default/foot_bg.png -text
client/skins/default/function.png -text
client/skins/default/label_switch_hover.png -text
client/skins/default/label_switch_off_hover.png -text
client/skins/default/label_switch_on_hover.png -text
client/skins/default/menu_bar.png -text
client/skins/default/menu_of2_hover.png -text
client/skins/default/menu_of3_hover.png -text
client/skins/default/menu_off_hover.png -text
client/skins/default/menu_on1.png -text
client/skins/default/menu_on2.png -text
client/skins/default/menu_on3.png -text
client/skins/default/menu_on_hover.png -text
client/skins/default/method.png -text
client/skins/default/select.gif -text
client/skins/default/select_auto.gif -text
client/skins/default/sort_a.png -text
client/skins/default/sort_d.png -text
client/skins/default/sort_n.png -text
client/skins/default/submenu_bg.png -text
client/skins/default/tab_top.png -text
client/skins/default/tree.png -text
code/comp2tab.php -text
/comp.css -text
/comp.php -text
/comp.png -text
/comp_local.png -text
/dbg.php -text
/ezer2.help.ezer -text
/ezer2.pers.ezer -text
/ezer2.syst.ezer -text
/ezer2_fce.php -text
/help.php -text
server/ae_slib.php -text
server/comp2.php -text
server/comp2def.php -text
server/comp2tab.php -text
server/ezer2.php -text
server/file_send.php -text
server/licensed/JSON.php -text
server/licensed/JSON_Ezer.php -text
server/licensed/class_WikiParser.php -text
server/licensed/phpmailer/class.phpmailer.php -text
server/licensed/phpmailer/class.smtp.php -text
server/licensed/phpmailer/language/phpmailer.lang-cz.php -text
server/licensed/xls/BIFFwriter.php -text
server/licensed/xls/Format.php -text
server/licensed/xls/OLEwriter.php -text
server/licensed/xls/Parser.php -text
server/licensed/xls/Workbook.php -text
server/licensed/xls/Worksheet.php -text
server/reference.php -text
server/session.php -text
server/sys_doc.php -text
wiki/Poznamky.txt -text
wiki/guide.wiki -text
